<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net461" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net461" />
  <package id="EFCache" version="2.1.3" targetFramework="net461" />
  <package id="EFCache.Redis" version="3018.0.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="IdentityServer3" version="2.5.3" targetFramework="net461" />
  <package id="IdentityServer3.Admin" version="1.0.0-beta9" targetFramework="net461" />
  <package id="IdentityServer3.Admin.EntityFramework" version="1.0.0-beta8" targetFramework="net461" />
  <package id="IdentityServer3.EntityFramework" version="2.6.0" targetFramework="net461" />
  <package id="Microsoft.Data.ConnectionUI.Dialog" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.Data.ConnectionUI.SqlCeDataProvider" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.2.206221351" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="3.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Owin.ForceHttps" version="1.1.0" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net461" />
  <package id="strong.config" version="1.0.1" targetFramework="net461" />
  <package id="System.Data.SqlServerCe_unofficial" version="4.0.8482.1" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net461" />
</packages>